# 忽略编译生成的文件
*.o
*.out
*.exe
.*
# 忽略IDE/编辑器生成的文件和目录
.vscode/
.venv/
.idea/
*.suo
*.ntvs*
*.njsproj.user
*.user
*.sln.docstates

# 忽略操作系统自动生成的文件
Thumbs.db
.DS_Store

# 忽略依赖管理工具生成的文件和目录
node_modules/
bower_components/

# 忽略日志文件
*.log
tutorial/
# 忽略临时文件和目录
tmp/
temp/
.cache/

# 忽略敏感配置文件
config.ini
secrets.yml

# 忽略备份文件
*.bak
*.backup
*.swp

# 忽略特定的编程语言或框架相关的文件和目录
# 下面是一些示例
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Java
*.class

# Ruby
.bundle/
Gemfile.lock

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# C/C++
*.obj
*.dll
*.so
*.dylib

# 编译器和构建工具生成的目录
build/
dist/
bin/
out/
target/
executable/
